body {
  font-family: Arial, sans-serif;
  margin: 10px;
  width: 230px;
}

input {
  width: 50px;
  margin-bottom: 10px;
}

button {
  margin: 5px 5px 10px 0;
}

#timer {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}

#status {
  text-align: center;
  font-style: italic;
  color: #555;
}